<% content_for :javascript_includes do %>
  <%= javascript_include_tag "slick" %>
  <%= stylesheet_link_tag  "slick", "slick-theme", "lunar" %>
<% end %>

<section id="product-detail" class="product-detail">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 p_detail">
        <div class="row justify-content-center">
          <div class="col-12 col-md-1 p_image_nav">
            <div class="product-d-nav">
              <% @images.each do |image| %>
                <div class="item"><%= image_tag image.image.url(:thumb), class: "img-fluid" %></div>
              <% end %>

            </div>
          </div>
          <div class="col-12 col-md-6 p_image">
            <div class="product-d-img">
              <% @images.each do |image| %>
                <div class="item"><%= image_tag image.image.url(:medium), class: "img-fluid" %></div>
              <% end %>
            </div>
          </div>
          <div class="col-12 p_image_mobile">
            <div class="product-d-img-mobile">
              <% @images.each do |image| %>
                <div class="item"><%= image_tag image.image.url(:medium), class: "img-fluid" %></div>
              <% end %>
            </div>
          </div>
          <div class="col-12 col-md-5 p_desc">
            <div class="cat_name"><%= @product.category_name %></div>
            <div class="p_name"><%= @product.name %></div>
            <div class="price">
              <%= number_to_currency(@product.price, unit: 'Rp ', separator: ',', delimiter: '.') %>
            </div>
            <hr />
            <div class="p_spec" style="position: relative;">
              <ul>
                <% @product.short_description.split("\n").each do |desc| %>
                  <li><%= raw desc %></li>
                <% end %>
              </ul>
              <% if @product.category_name == "Kompor Induksi" %>
                <%= image_tag "garansi.png", class: "img-fluid garansi" %>
              <% end %>
            </div>
            <div class="p_compatibility mb-4" style=" padding-left: 25px;">
              <% @product.compatibility.each do |c| %>
                <% unless c.blank? %>
                  <% style = ["panci 68", "panci k655 k625", "wajan 68"].include?(c.downcase) ? "width: 100px" : "width: 65px" %>
                  <%= image_tag "#{c.downcase.parameterize}.png", class: "img-fluid", style: "#{style}" %>
                <% end %>
              <% end %>
            </div>
            <%= link_to "Beli Sekarang", kompor_induksi_path, class: "btn btn-outline-green",
                        data: {toggle: "modal", target: "#shop_modal"} %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 p_icon">
        <div class="row">
          <% @feature_details.each_with_index do |detail, x| %>
            <% temp_class = (x % 2) == 0 ? "border_odd" : "border_even" %>
            <% temp_class = "" if (x + 1) == @feature_details.size %>
            <div class="col-6 col-md-3 <%= temp_class %>">
              <div class="p_icon_title"><%= detail.icon_title %></div>
              <%= link_to (image_tag detail.icon.url(:thumb), class: "img-fluid"), "##{detail.icon_title.parameterize}" %>
            </div>
          <% end %>
        </div>
      </div>

      <% @feature_details.each_with_index do |detail, x| %>
        <% temp_class_image = (x % 2) == 0 ? "order-md-1 order-1" : "order-md-2 order-1" %>
        <% temp_class_detail = (x % 2) == 0 ? "order-md-2 order-1" : "order-md-1 order-2" %>
        <div class="col-12 p_feature_detail" id="<%= "#{detail.icon_title.parameterize}" %>">
          <div class="row">
            <div class="col-12 col-md-5 <%= temp_class_image %>"><%= image_tag detail.image.url, class: "img-fluid" %></div>
            <div class="col-12 col-md-7 my-auto <%= temp_class_detail %>">
              <div class="p_feature_detail_title"><%= detail.title %></div>
              <div class="p_feature_detail_desc"><%= raw(detail.description) %></div>
            </div>
          </div>
        </div>
      <% end %>

      <% if !@product.specification.blank? || !@product.feature.blank? %>
        <div class="col-12 p_spec_feature mb-4">
          <div class="row">
            <% unless @product.specification.blank? %>
              <div class="col-12 col-md-6 spec_detail">
                <div class="row">
                  <div class="col-12"><h2>Spesifikasi</h2></div>
                  <% @product.specification.split("#").each do |spec| %>
                    <div class="col-6 detail"><%= simple_format spec %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% unless @product.feature.blank? %>
              <div class="col-12 col-md-6 feature_detail">
                <div class="row">
                  <div class="col-12"><h2>Fitur</h2></div>
                  <% @product.feature.split("#").each do |spec| %>
                    <div class="col-6 detail"><%= simple_format spec %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-12 text-center">
        <%= link_to "<< Back ", root_path %>
      </div>

    </div>
  </div>
</section>

<%= render partial: "modal"  %>

<script>
  $(document).ready(function () {
    $('.product-d-img-mobile').slick({
      dots: true,
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true
    });
    
    $('.product-d-img').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true,
      asNavFor: '.product-d-nav'
    });
    $('.product-d-nav').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: '.product-d-img',
      vertical: true,
      focusOnSelect: true,
      arrows: false
    });
  });
</script>
