<!DOCTYPE html>
<html>
<head>
  <title>MekarUtama</title>
  <%= stylesheet_link_tag  "application","admin" %>
  <%= javascript_include_tag "jquery-1.7.1.min.js", "application.js" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="admin-fix-menu">
      <div id="nav-menu">
        <div class="admin-logo">
          <%= link_to (image_tag "logo.png"), root_path %>
        </div>
        <ul class="first">
          <li class="first-child"><%= link_to "Home", admin_path %></li>
          <li><%= link_to "Products", admin_products_path %></li>
          <li><%= link_to "Categories", admin_categories_path %></li>
          <li><%= link_to "News", admin_news_index_path %></li>
          <li><%= link_to "About Us", admin_edit_setting_path("about_us") %></li>
          <li><%= link_to "Banners", admin_banners_path %></li>
          <li><%= link_to "Clients", admin_clients_path %></li>
          <li><%= link_to "Contact Us", admin_edit_setting_path("contact_us") %></li>
          <li><%= link_to "Convert image", admin_product_images_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </div>
  </div>
  <div id="container" style="padding-top: 150px">
    <style>
          @keyframes bounceInLeft {
            0% {
               opacity: 0;
               transform: translateX(-2000px);
            }
            60% {
               opacity: 1;
               transform: translateX(30px);
            }
            80% {
               transform: translateX(-10px);
            }
            100% {
               transform: translateX(0);
            }
         }

    </style>
    <%= yield %>
    <div id="footer-container">
      <div class="footer">
        <div class="copyright">
          <ul>
            <li><%= link_to "home", root_path %></li>
            <li><%= link_to "about us", about_us_path %></li>
            <li><%= link_to "clients", clients_path %></li>
            <li class="no-border"><%= link_to "contact us", contact_us_path %></li>
          </ul><br />
          Copyright © 2014, mekar-utama.com - all rights reserved
        </div>
        <div class="footer-menu">
          <%= image_tag "logo.png" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
